<div class="page-navigation">
  <h1 class="page-navigation__title">Map</h1>
  <navigation-card
    [title]="'back'"
    [icon]="'keyboard_return'"
    [navigationFunction]="goBack"
  ></navigation-card>
  <navigation-card
    [title]="'map'"
    [icon]="'map'"
    [navigationFunction]="goToAirports"
  ></navigation-card>
</div>

<google-map [options]="options">
  <map-marker *ngFor="let marker of markers" [options]="markersOptions" [position]="marker"></map-marker>
</google-map>
