.page-navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__title {
    margin: 2rem 1rem;
  }
}

::ng-deep google-map {
  .map-container {
    width: 100% !important;
    height: 100vh !important;
  }
}
