<div class="page-navigation">
  <h1 class="page-navigation__title">Arrivals</h1>
  <navigation-card
    [title]="'Back'"
    [icon]="'keyboard_return'"
    [navigationFunction]="goBack"
  ></navigation-card>
  <navigation-card
    [title]="'Departures'"
    [icon]="'flight_takeoff'"
    [navigationFunction]="goToDepartures"
  ></navigation-card>
  <navigation-card
    [title]="'Airports'"
    [icon]="'local_airport'"
    [navigationFunction]="goToAirports"
  ></navigation-card>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element">
      <span class="arrival-time" *ngIf="element.arr_estimated">
        {{ element.arr_estimated | hours }}
      </span>
      <span class="arrival-time" [ngClass]="{'not-actual-time': element.arr_estimated}">
        {{ element.arr_time | hours }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.dep_icao}} </td>
  </ng-container>

  <ng-container matColumnDef="flight">
    <th mat-header-cell *matHeaderCellDef> Flight </th>
    <td mat-cell *matCellDef="let element"> {{ element.airline_icao + ' ' + element.flight_number }} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Flight Estimated duration </th>
    <td mat-cell *matCellDef="let element"> {{ element.duration | numberToTime }}</td>
  </ng-container>

  <ng-container matColumnDef="gate">
    <th mat-header-cell *matHeaderCellDef> Gate </th>
    <td mat-cell *matCellDef="let element"> {{ !element.dep_gate && element.status === 'landed' ? 'Landed' : (!element.dep_gate && element.status === 'active') ? 'In flight' : 'In revision'}} </td>
  </ng-container>

  <ng-container matColumnDef="remarks">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status | uppercase}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
