.content {
  width: 100%;
  height: 100%;
  background: #5e5e5e;

  &__text {
    color: black;
  }
}

.view_departures_link {
  color: #2daeff;
  cursor: pointer;
}

.page-navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__title {
    margin: 2rem 1rem;
  }
}
