<div class="page-navigation">
  <h1 class="page-navigation__title">Airports</h1>
  <navigation-card
    [title]="'map'"
    [icon]="'map'"
    [navigationFunction]="goToMap"
  ></navigation-card>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="names">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="view_arrivals">
    <th mat-header-cell *matHeaderCellDef> {{ 'View arrivals' }} </th>
    <td mat-cell *matCellDef="let element"> <a (click)="loadArrivals(element.icao_code)" class="view_departures_link"> {{ 'View arrivals' }}</a> </td>
  </ng-container>

  <ng-container matColumnDef="view_departures">
    <th mat-header-cell *matHeaderCellDef> {{ 'View departures' }} </th>
    <td mat-cell *matCellDef="let element"> <a (click)="loadDepartures(element.icao_code)" class="view_departures_link"> {{ 'View departures'}} </a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
