.departure-time {
  font-weight: bold;
}
.not-actual-time {
  color: red;
  text-decoration: line-through;
}

.page-navigation {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__title {
    margin: 2rem 1rem;
  }
}
