<mat-toolbar class="header">
  <img alt="Ridango logo" src="../../../../assets/ridango-logo.png" [height]="35">
  <h1 class="header__title">{{ 'Test application' | uppercase }}</h1>
</mat-toolbar>
