@use '../../../../styles/variables' as variable;

.header {
  background: #ffffff;
  height: variable.$navbar-height;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__title {
    color: #B6BBC2;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 3px;
    margin-left: 1rem;
  }
}
